* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #111;
  color: #000;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 500px;
}

.container {
  position: relative;
  width: 500px;
  height: auto;
  background: #111;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 -3px 7px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

header {
  position: relative;
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  font-size: 1.2rem;
  padding: 1rem;
}

header .pin1,
header .pin2 {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: linear-gradient(0deg, #111, #222);
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1), 0 4px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

header .pin2,
header .pin1 {
  display: flex;
  justify-content: center;
}

header .pin2 {
  right: 1rem;
}

#files {
  display: none;
}

.btn {
  background: transparent;
  border: none;
  color: cyan;
  display: none;
  cursor: pointer;
  outline: none;
}

.btn.active,
.btn.list {
  display: block;
}

main {
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
}

.vz-wrapper.-canvas {
  position: relative;
  height: initial;
  width: initial;
  background: transparent;
  box-shadow: none;
}

canvas {
  position: relative;
  top: 55%;
  transform: translateY(-50%);
}

main .player {
  position: relative;
  width: 176px;
  height: 176px;
  margin-left: auto;
  background: linear-gradient(0deg, #222, #111);
  border-radius: 50%;
  border: 2px solid #000;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.2),
    0 4px 2px rgba(0, 0, 0, 0.2);
}

main .player .fa,
main .player .fas {
  position: absolute;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

main .player .fa:hover,
main .player .fas:hover,
.player #play.active,
#repeat.active,
#random.active {
  color: cyan;
  text-shadow: 0 0 4px cyan;
}

main .player .fa-play,
#play.active {
  width: 88px;
  height: 88px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #000;
  border-radius: 50%;
  text-align: center;
  line-height: 88px;
  background: linear-gradient(0deg, #111, #222);
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.2),
    0 0 8px rgba(0, 0, 0, 0.6);
}

main .player .fa-play.ready {
  border: 2px solid rgba(0, 255, 255, 0.1);
  color: rgba(0, 255, 255, 0.1);
  animation: pulse 0.8s ease-in-out infinite alternate;
}

#play.active {
  border: 2px solid rgba(0, 255, 255, 0.9);
}

@keyframes pulse {
  to {
    color: cyan;
    border-color: rgba(0, 255, 255, 0.6);
  }
}

main .player .fa-redo-alt {
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
}

main .player .fa-fast-backward {
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}

main .player .fa-fast-forward {
  top: 50%;
  right: 8%;
  transform: translateY(-50%);
}

main .player .fa-random {
  top: 82%;
  left: 50%;
  transform: translateX(-50%);
}

footer {
  padding: 2rem 2rem;
  color: #999;
  text-shadow: 2px 2px #111;
  font-family: "Roboto", sans-serif;
}

footer .title {
  text-align: center;
  padding-bottom: 0.5rem;
}

footer .time-tracker {
  display: flex;
  border-top: 1px solid #000;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  padding-top: 0.5rem;
}

footer .time-tracker .timer {
  position: relative;
  width: 90%;
  height: 2rem;
  cursor: pointer;
}

footer .time-tracker .timer .bg {
  position: relative;
  height: 0.6rem;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 0.5rem;
  border-top: 1px solid #000;
  border-radius: 10px;
  background: none;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.2);
  overflow: hidden;
}

footer .time-tracker .timer .bg #runner {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 0.2rem;
  border-radius: 10px;
  width: 0%;
  background: cyan;
  box-shadow: 0 0 2px 2px cyan;
}

footer .time-tracker .time {
  line-height: 2rem;
}

ul {
  position: relative;
  top: -10px;
  padding: 10px;
  width: 98%;
  height: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 -3px 7px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: auto;
  background: #111;
  transition: all 0.5s ease-in-out;
}

ul::-webkit-scrollbar {
  display: none;
}

ul.active {
  height: 200px;
}

ul li {
  position: relative;
  display: none;
  align-items: center;
  padding: 15px 10px;
  list-style: none;
  color: cyan;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

ul li:hover {
  background: #222;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 -3px 7px rgba(0, 0, 0, 0.2);
}

ul.active li {
  display: flex;
}

.album-image {
  position: relative;
  width: 100px;
  height: 60px;
}

img {
  width: 100px;
  height: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}
